
.headingSmallBold{
    font-size: 22px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
    color: #5c767e;
}

.sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
     
}