@media only screen and (max-width: 600px) {
    .pageContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 5rem 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 850px;
        padding: 5rem 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        padding: 3rem 5rem 5rem 5rem;
    }
}

.pageContainer {
    border-radius: 50px 50px 0px 0px;
    background-color: var(--color2);
}

.heading {
    font-size: 36px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
    color: var(--headingText);
    margin-bottom: 4rem;
}

.headingSmall{
    font-size: 18px;
    text-align: start;
    font-family: "Poppins-Light";
    color: var(--text);
    display: inline-block;
    min-width: 7rem;
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 1rem;
}

.icon{
    filter: grayscale(0.7);
    &:hover{
        filter: none;
    }
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.bg {
    background-color: var(--color1);
}

.infoText{
    font-size: 14px;
    font-family: "Poppins-Light";
    color: var(--subText);
    cursor: default;
}