@media only screen and (max-width: 600px) {
    .pageContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 5rem 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 850px;
        padding: 5rem 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        padding: 3rem 5rem 5rem 5rem;
    }
}

.pageContainer {
    border-radius: 50px 50px 0px 0px;
    background-color: var(--color2);
}

.heading {
    font-size: 36px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
    color: var(--color4);
    margin-bottom: 4rem;
}

.headingSmall{
    font-size: 18px;
    text-align: start;
    font-family: "Poppins-Light";
    color: var(--color4);
    margin-right: 2rem;
    display: inline-block;
    min-width: 7rem;
}

.icon{
    filter: grayscale(0.7);
    &:hover{
        filter: none;
    }
}

.boxContainer {
    background-color: var(--color2);
    padding: 0rem;
    border-radius: 20px;
    margin-right: 1rem;
}

.boxContainerSmall {
    padding: 0rem;
    border-radius: 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    background: rgba(256, 256, 256, 1);
    color: var(--color1);
    &:hover {
        img {
            height: 56px;
            transition: height 0.1s, transform 0.1s;
        }
    }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .boxContainerSmall {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

.headingSmallBold {
    font-size: 22px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
    color: var(--color1);
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.bg {
    background-color: var(--color1);
}
