.circleChart__circle {
    animation: circleChartFill 2s reverse; /* 1 */
    transform: rotate(-90deg); /* 2, 3 */
    transform-origin: center; /* 4 */
    stroke: #73939c;
}

.circleChart__info {
    animation: circleChartAppear 2s forwards;
    opacity: 0;
    // transform: translateY(0.1em);
}

@keyframes circleChartFill {
    to {
        stroke-dasharray: 0 100;
    }
}

@keyframes circleChartAppear {
    to {
        opacity: 1;
        // transform: translateY(0);
    }
}

.secText {
    font-size: 14px;
    text-align: center;
}
