.headingSmallBold{
    font-size: 22px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
}

.text{
    font-size: 14px;
    font-family: "Poppins-Light";
    letter-spacing: 0.2px;
}