.paddingSection{
    padding: 1rem 0rem;
}

.aboutCard{
    padding: 5rem 3rem;
    // border: 1px solid rgb(84, 163, 140);
    background-color: #73939c;
    color: #fff;
    // clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 34%, 96% 0);
    font-size: 18px;
    font-family: "Poppins-Light";
}
