@import "../../../theme.scss";

.skillsSection{
    background-color: rgb(231, 193, 193);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5.5rem;
}

.skillsContent{
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Poppins-Light";
    font-size: 16px;
}

.sectionHead{
    font-family:"Poppins-Thin";
    color: rgb(109, 160, 33);
    letter-spacing: 2px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    text-align: end;
}


@media( min-width:300px){
    .displayFlex{
        display: inline-flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media(min-width:768px){
    .displayFlex{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media(min-width:1020px){
    .displayFlex{
        display: inline-flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media(min-width:1200px){
    .displayFlex{
        display: inline-flex;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}