@import "../../../theme.scss";

.expSection {
    background-color: rgb(240, 234, 234);
    padding-left: 5%;
    padding-right: 5%;
}

.expContent {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5rem;
}

.sectionHead {
    font-family: "Poppins-Thin";
    // font-size: 42px;
    color: rgb(109, 160, 33);
    letter-spacing: 2px;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    font-family: "Poppins-Light";
}

.timelineText {
    font-size: 16px;
    font-family: "Poppins-Light";
}

.heading {
    font-size: 16px;
    font-family: "Poppins-Medium";
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 25px;
    width: 3px;
    margin-left: -1.5px;
    background-color: #4b515a;
    margin-top: 6px;
}

.timeline > li {
    position: relative;
    margin-bottom: 90px;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li .timelinePanel {
    float: right;
    position: relative;
    width: 100%;
    // padding: 0 20px 0 75px;
    text-align: right;
    // margin-right: 3rem;
    padding: 0 75px 0 0px;
}

.timeline > li .timelinePanel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline > li .timelinePanel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
    // padding: 0 75px 0 0px;
}

.timelineImage {
    z-index: 100;
    position: absolute;
    right: 11px;
    margin-left: 0;
    text-align: center;
}

.timelineImageGrad {
    z-index: 100;
    position: absolute;
    right: 0;
    margin-left: 0;
    text-align: center;
}

.timeline > li.timelineInverted > .timelinePanel {
    float: right;
    text-align: right;
}

.timeline > li.timelineInverted > .timelinePanel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
    padding: 0 75px 0 0px;
}

.timeline > li.timelineInverted > .timelinePanel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline > li:last-child {
    margin-bottom: 0;
}

.subheading {
    text-transform: none;
    font-family: "Poppins-Medium";
}

.imgResponsive{
    height: 40px;
}

.imgResponsiveGrad{
    height: 42px;
}

@media (min-width: 768px) {
    .imgResponsive{
        height: 56px;
    }

    .imgResponsiveGrad{
        height: 54px;
    }

    .timeline:before {
        left: 50%;
    }

    .timeline > li {
        margin-bottom: 100px;
        min-height: 120px;
    }

    .timeline > li .timelinePanel {
        float: left;
        width: 45%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timelineImage {
        right: 47%;
        margin-left: -50px;
    }
    .timelineImageGrad {
        right: 45.5%;
        margin-left: -50px;
    }

    .timeline > li.timelineInverted > .timelinePanel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media (min-width: 1023px) {
    .imgResponsive{
        height: 56px;
    }

    .imgResponsiveGrad{
        height: 54px;
    }

    .timeline > li {
        min-height: 150px;
    }

    .timeline > li .timelinePanel {
        padding: 0 20px 20px;
    }

    .timelineImageGrad {
        right: 46.5%;
        margin-left: -50px;
    }

    .timelineImage {
        right: 47.5%;
        margin-left: -50px;
    }

    .timeline > li.timelineInverted > .timelinePanel {
        padding: 0 20px 20px;
    }
    
    
}

@media (min-width: 1200px) {
    .imgResponsive{
        height: 60px;
    }

    .imgResponsiveGrad{
        height: 55px;
    }

    .timeline > li {
        min-height: 120px;
    }

    .timeline > li .timelinePanel {
        padding: 0 20px 20px 5px;
    }

    .timelineImage {
        right: 48%;
        margin-left: -58px;
    }

    .timelineImageGrad {
        right: 47%;
        margin-left: -58px;
    }

    .timeline > li.timelineInverted > .timelinePanel {
        padding: 0 5px 20px 20px;
    }
}
