.dot {
    height: 16px;
    width: 16px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-flex;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0.3rem;
}

.dotSmall {
    height: 16px;
    width: 16px;
    border: 2px solid #bbb;
    border-radius: 50%;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0.3rem;
    display: inline-flex;

}
