
.bg {
    background-color: var(--color1);
    
}

.pageContainer{
    background-color: var(--color2);
    padding-bottom: 6rem !important;
}

@media only screen and (max-width: 600px) {
    .pageContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0rem 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 850px;
        padding: 0rem 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        padding: 0rem 5rem;
    }
}


.heading {
    font-size: 36px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
    color: var(--color4);
    margin-bottom: 4rem;
}

.card{
    border-radius: 20px;
    border: 1px dashed var(--color3);
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
}

.cardContainerLeft{
    background-color: var(--color3);
    color: var(--color2);
    font-size: 16px;
    font-family: "Poppins-Light";
    padding: 1rem 2rem;
    border-radius: 0px 0px 24px 24px;
    width: max-content;
    margin-left: 2rem;
}

.cardContainerRight{
    color: var(--color3);
    background-color: var(--color2);
    font-size: 16px;
    font-family: "Poppins-Light";
    border-radius: inherit;
    padding: 2rem;
    text-align: justify;
}
