
.bg {
    background-color: var(--color1);
    
}

.pageContainer{
    background-color: var(--color2);
    padding-bottom: 6rem !important;
}

@media only screen and (max-width: 600px) {
    .pageContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0rem 2rem;
    }
}

@media only screen and (min-width: 768px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 850px;
        padding: 0rem 3rem;
    }
}

@media only screen and (min-width: 1200px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        padding: 0rem 5rem;
    }
}


.heading {
    font-size: 36px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
    color: var(--headingText);
    margin-bottom: 4rem;
}

.card{
    border-radius: 20px;
    border: 1px dashed var(--headingText);
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
}

.cardContainerLeft{
    background-color: var(--headingText);
    color: var(--info);
    font-size: 16px;
    font-family: "Poppins-Light";
    padding: 1rem 2rem;
    border-radius: 0px 0px 24px 24px;
    // width: max-content;
    margin-left: 2rem;
    margin-right: 2rem;
}

.cardContainerRight{
    color: var(--text);
    background-color: var(--color2);
    font-size: 16px;
    font-family: "Poppins-Light";
    border-radius: inherit;
    padding: 2rem;
    text-align: justify;
}

.more {display: none;}

.btn{
    border:1px solid var(--text);
    background-color:  rgba(255, 255, 255, 0);
    color: var(--text);
    border-radius: 4px;
    padding: 4px 12px;
    font-size: 16px;
    margin-left: 1rem;
    outline: none;
    margin-top: 1rem;
    font-family: "Poppins-Light";
    &:hover{
        background-color: var(--text);
        color: var(--color2);
    }

}

*:focus {outline:none !important}

.expHeading{
    font-family: "Poppins-Medium";
}