.bg {
    background-color: var(--color1);
}

.pageContainer{
    background-color: var(--color2);
    padding-bottom: 6rem !important;
}

@media only screen and (max-width: 600px) {
    .pageContainer {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 0rem 2rem;
    }

    .timeline {
        margin-left: 1rem !important;
    }

    .flag {
        min-width: 120px;
        margin-bottom: 1rem;
        // margin-left: -10rem;
    }

    .flagContent {
        &:after {
            content: "";
            position: absolute;
            top: 11%;
            right: 100%;
            margin-top: 10px;
            border-width: 6px;
            border-style: solid;
            border-color: transparent var(--color4) transparent transparent;
        }
    }
}

@media only screen and (min-width: 768px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 850px;
        padding: 0rem 3rem;
    }

    .flag {
        min-width: 120px;
        margin-left: -10rem;
        position: absolute;
    }

    .flagContent {
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 64%;
            margin-top: -7px;
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent transparent var(--color4);
        }
    }
}

@media only screen and (min-width: 1200px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        padding: 0rem 5rem;
    }

    .flag {
        min-width: 120px;
        margin-left: -10rem;
        position: absolute;
    }

    .flagContent {
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 64%;
            margin-top: -7px;
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent transparent var(--color4);
        }
    }
}

.heading {
    font-size: 36px;
    text-align: start;
    font-weight: bold;
    font-family: "Poppins-Thin";
    color: var(--color4);
    margin-bottom: 4rem;
}

.flagContent {
    color: var(--color2);
    font-family: "Poppins-Light";
    font-size: 16px;
    width: max-content;
    background-color: var(--color4);
    padding: 8px 22px;
    border-radius: 8px;
}

.boldText {
    font-family: "Poppins-Medium";
    font-size: 18px;
}

.text {
    color: var(--color3);
    font-size: 16px;
    font-family: "Poppins-Light";
}

.timeline {
    border-left: 2px solid var(--color3);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: var(--color4);
    font-size: 16px;
    font-family: "Poppins-Light";
    margin-left: 7rem;
    position: relative;
    padding-left: 50px;
    list-style: none;
    padding-top: 2rem;

    .event {
        padding-bottom: 50px;
        position: relative;

        &:before,
        &:after {
            position: absolute;
            display: block;
            top: 0;
        }

        &:before {
            left: (((120px * 0.6) + 50px + 4px + 11px + (4px * 2)) * 1.5) * -1;
            content: attr(data-120px);
            text-align: right;
            font-weight: 100;
            font-size: 0.9em;
            min-width: 120px;
        }

        &:after {
            box-shadow: 0 0 0 4px var(--color4);
            left: (50px + 4px + (10px * 0.35)) * -1;
            background: var(--color2);
            border-radius: 50%;
            height: 11px;
            width: 11px;
            content: "";
            top: 16px;
        }
    }
}
