.textAlign{
    text-align: center;
    padding-top: 12px;
    // overflow: auto;
    // height: 100vh;
    // position: relative;
    // overscroll-behavior: contain;
}
.nameText{
    font-size: 28px;
}

.smallText{
    font-size: 14px;
}
