.textAlign{
    text-align: center;
    padding-top: 12px;
    // overflow: auto;
    // height: 100vh;
    // position: relative;
    // overscroll-behavior: contain;
}
.nameText{
    font-size: 24px;
    font-family: "Poppins-Regular";
    color: var(--textPrimary);
}

.smallText{
    font-size: 14px;
    font-family: "Poppins-Thin";
}
