
html{
    scroll-behavior: smooth;
    background-color: var(--color1);
}

.bg{
    background-color: var(--color2);
}

.sectionA{
    border-radius: 0px 0px 50px 50px;
    background: var(--color2);
    padding: 8rem 0rem;
}

.aboutBg{
    background-color: var(--color1);
    padding-bottom: 8rem;
}

@media only screen and (max-width: 600px) {
    .pageContainer {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .headerNavBar{
        margin-left: auto;
        margin-right: auto;
        width: max-content;
        text-align: center;
    }
}

@media only screen and (min-width: 768px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 850px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .headerNavBar{
        margin-left: auto;
        width: max-content;
    }
}

@media only screen and (min-width: 1200px) {
    .pageContainer {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
    }
    .headerNavBar{
        margin-left: auto;
        width: max-content;
    }
}

.pageContainer{
    padding: 1rem 1rem 2rem 1rem;
    background-color: var(--color2);
    border-radius: 0px 0px 50px 50px;
    overflow: auto;
}

.navBtn{
    color: var(--color3);
    // clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 34%, 96% 0);
    font-size: 16px;
    font-family: "Poppins-Regular";
    &:hover{
        text-decoration: none;
        color: var(--color3);
    }
}

// ------- top nav

.topnav {
    overflow: hidden;
    background-color: var(--color2);
  }
  
  .topnav a {
    float: left;
    display: block;
    color: var(--color3) !important;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:not(:first-child){
      float: right;
  }
  
  .topnav a:hover {
    background-color: var(--color2);
    color: var(--color4);
  }
 
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

//   --------

.dropdownMenu{
    background-color: #fff;
    width: max-content;
    position: absolute;
    padding: 0.5rem 1rem;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,0.11);
    border-radius: 8px;
    margin-top: -8px;
}

.theme1{
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #73939c, #73939c 100%), linear-gradient(135deg, #ffffff, #ffffff), linear-gradient(225deg,  #8a8a8a,  #8a8a8a) , linear-gradient(225deg, #535c5f, #535c5f);
    background-size: 50% 50%;
    background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    // border: 2px solid #fff;
    display: inline-block;
    margin-right: 16px;
}

.theme2{
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, #86c232, #86c232 100%), linear-gradient(135deg, #222629, #222629), linear-gradient(225deg, #474b4f, #474b4f) , linear-gradient(225deg, #6b6e70, #6b6e70);
    background-size: 50% 50%;
    background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
    background-repeat: no-repeat;
    border-radius: 50%;
    // border: 2px solid #fff;
    display: inline-block;
}