@font-face {
    font-family: "Poppins-Medium";
    font-style: normal;
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    font-style: normal;
    src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
}