
  
@font-face {
    font-family: 'icomoon';
    /* src:  url('./assets/icoPen/icomoon.eot?lsvtnt'); */
    src:  
    /* url('./assets/icoPen/icomoon.eot?lsvtnt#iefix') format('embedded-opentype'), */
      url('./assets/icoPen/icomoon.ttf?lsvtnt') format('truetype');
      /* url('./assets/icoPen/icomoon.woff?lsvtnt') format('woff'), */
      /* url('./assets/icoPen/icomoon.svg?lsvtnt#icomoon') format('svg'); */
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-editPen:before {
    content: "\e901";
    /* color: rgb(229, 238, 247); */
  }
  /* .icon-editPen .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(0, 89, 178);
  } */