@font-face {
    font-family: "Poppins-Medium";
    font-style: normal;
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Light";
    font-style: normal;
    src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Thin";
    font-style: normal;
    src: url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-Regular";
    font-style: normal;
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}


@font-face {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}

