/**
THEME COLORS
 - The following colors are used across the application. 
**/

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

html[data-theme="theme1"] {
    --color1: #73939c;
    --color2: #ffffff;
    --color3: #8a8a8a;
    --color4: #535c5f;
}

html[data-theme="theme2"] {
    --color3: #86c232;
    --color2: #222629;
    // --color2: #dbbdbd;
    --color1: #474b4f;
    --color4: #6b6e70;
}

