/**
THEME COLORS
 - The following colors are used across the application. 
**/

html.color-theme-in-transition,
html.color-theme-in-transition *,
html.color-theme-in-transition *:before,
html.color-theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
}

html[data-theme="theme1"] {
    --color1: #73939c;
    --color2: #ffffff;
    --color3: #8a8a8a;
    --color4: #535c5f;

    --headingText: #73939c;
    --subHeading:#ffffff ;
    --text: #535c5f;
    --subText: #8a8a8a;

    --info: #ffffff;
}

html[data-theme="theme2"] {
    --color1: #474b4f;
    --color2: #222629;
    --color3: #86c232;
    --color4: #6b6e70;

    --headingText: #86c232;
    --subHeading: #222629;
    --text: #6b6e70;
    --subText: #474b4f;

    --info: #474b4f;
}

html[data-theme="theme3"] {
    --color1: #25274d;
    --color2: #464886;
    --color3: #2e9cca;
    --color4: #aaabb8;

    --headingText: #2e9cca;
    --subHeading: #464886;
    --text: #aaabb8;
    --subText: #25274d;

    --info: #25274d;
}

