
// .re.dark-mode{  
//     text-align: center;
//     font-size: 40px;
//     // color: royalblue ;
//     // background-color: azure ;
// }


.re{
    text-align: center;
    font-size: 40px;
    color: red ;
    background-color: whitesmoke ;
    font-weight: 300;
    font-family: "Poppins-Light";
}


